[submodule "external/coco"]
	path = external/coco
	url = https://github.com/pdollar/coco.git
[submodule "external/coco-caption"]
	path = external/coco-caption
	url = https://github.com/peteanderson80/coco-caption.git
[submodule "external/caffe"]
	path = external/caffe
	url = https://github.com/peteanderson80/caffe.git
